/* common shared style */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Inter', sans-serif;
}
/* Hero Style */

.hero-section {
    background-image: url('./resources/Banner-image.png');
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}
