/* common shared style */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

h3 {
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
}

body {
    font-family: 'Inter', sans-serif;
}

.text-highlight {
    color: #F00
}

.primary-btn {
    background: #F00;
    padding: 16px 32px;
    border: 0px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

.naked-btn {
    background: transparent;
    padding: 16px 32px;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Hero Style */

.hero-h6 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 5px;
}

.hero-h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 900;
}

.hero {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Banner-image.png");
    max-width: 1320px;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    margin: 50px auto;
}

.inner-hero {
    max-width: 632px;
}

/* second-section */

.second-section {
    margin: 120px auto;
    text-align: center;
}

p.off-heading {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

p.off-desc {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -30px;
}

p.off-cat {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

/* third-section */

.third-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Vectorrr.png");
    max-width: 1320px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 126px;
    margin: 50px auto;
}

.third-tex {
    max-width: 700px;
}

.third-h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.third-p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
}

/* fourth-section */

.fourth-section {
    max-width: 1320px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    padding: 126px;
    margin: 120px auto;
}

.fourth-info {
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
}

/* fifth-section */

.fifth-section {
    max-width: 1320px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
}

.fifth-section .item {
    max-width: 393px;
    padding-top: 30px;
}

.fifth-section .item-2 {
    max-width: 463px;
}

.fifth-section .item-3 {
    max-width: 276px;
}

.fifth-red-p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -30px;
}

.image-container {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

img.fifth-img {
    border-radius: 364.844px;
    text-align: center;
}


p.red-2024 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* sixth-section */
.sixth {
    max-width: 900px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 120px auto;
}

.sixth-p {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -30px;
}


h2.sixth-h2 {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* seventh-section */
.seventh {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    background-image: url(./resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0px auto;
}

.second-col {
    margin: 0px
}

section .third-col {
    position: absolute;
    top: 440%;
    right: 30%;
}

/* eighth-section */

.eighth {
    max-width: 1320px;
    display: flex;
    margin: 50px auto 10px;
}

.gallery-1 {
    max-width: 1320px;
    gap: 24px;
    margin: 0px auto;
}

.gallery-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/* subscription-section */

.subscription {
    max-width: 1320px;
    height: 600px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    margin: 50px auto;
}

form {
    padding-top: 20px;
}

input.email {
    padding: 15px 30px;
    width: 438px;
    font-size: 20px;
    border: 0px;
    border-radius: 50px;
}

input::placeholder {
    font-size: 18px;
    color: rgba(7, 2, 17, 0.30);
}

input.sub-btn {
    width: 210px;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 14px 30px;

    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}